<auth>
	<div class="auth { theme }">
		<div></div>
		<div class="center-row">
			<div></div>
			<div class="center-col">
				<login />
			</div>
			<div></div>
		</div>
		<div></div>
	</div>
	<script>
		this.theme = 'ui-theme';
		this.toggleTheme = e => {
			console.info("TOGGLE THEME");
			console.dir(e);
			this.theme = e.target.value;
			this.update();
		}
		this.on('mount', () => {
			this.update();
		});
	</script>
	<style>
		.auth {
			font-size:16px;
			font-family:sans-serif;
			height:100vh;
			display:grid;
			grid-template-rows:auto auto auto;
		}
		.center-row {
			grid-row-start:2;
			display:grid;
			grid-template-columns:auto 20em auto;	
		}
		.center-col {
			grid-column-start:2;
		}
	</style>
</auth>
<login>
	<form class="login f-col">

		<h1>Evosus Library</h1>
		<h2>Login</h2>

		<div class="pad-dot-5"></div>

		<label for="ver">Theme</label>
		<select id="ver" onchange="{ parent.toggleTheme }">
			<option value="ui-theme" selected>Light</option>
			<option value="ui-theme-dk">Dark</option>
		</select>

		<div class="pad-dot-5"></div>

		<label for="eml">Email Address</label>
		<input id="eml" type="email"  placeholder="" required />

		<div class="pad-dot-5"></div>

		<label for="pwd">Password</label>
		<input id="pwd" type="password" placeholder="" required />

		<div class="pad-dot-5"></div>

		<div class="f-row ai-center">
			<input id="rem" type="checkbox" />
			<label for="rem">Remember Me</label>
		</div>

		<div class="pad-dot-5"></div>

		<div class="f-row ai-center">
			<input name="radio" id="rad1" type="radio" checked />
			<label for="rad1">Option 1</label>
		</div>

		<div class="pad-dot-5"></div>

		<div class="f-row ai-center">
			<input name="radio" id="rad2" type="radio" />
			<label for="rad2">Option 2</label>
		</div>
		<div class="pad-dot-5"></div>

		<button>Confirm</button>

		<div class="pad-dot-5"></div>

		<div class="version">v2.0</div>

	</form>
	<style>
		.pad-dot-5 {
			padding:.5em;
		}
		.version {
			padding:1em;
			text-align:center;
			color:grey;
		}
	</style>
</login>
