<view-home>
	<ui-modal ref="ui_modal" />
	<nav-menu ref="nav_menu" />
	<nav-bar ref="nav_bar" />
	<div class="scroll-1">
		<div class="pad-1-2">
			<div each="{ num in new Array(45) }">
				<h1>num</h1>
			</div>
		</div>
	</div>
	<script>
		// MIXIN
		this.mixin(IO);
		// SELF
		var self = this;
		// MOUNT
		this.on('mount',function() {
			// OPTS
			opts = this.opts;
			// ROUTE
			opts.title = 'View Home';
			// NAV MENU
			opts.nav_menu = {
				companyName:'Devosus, Inc',
				css:'ui-white fg-teal',
				cssActive:'ui-teal',
				cssHead:'ui-teal',
				isOpen: false,
				items:navMenuItems,
				userName:'Corey Holten',
			};
			// NAV BAR
			opts.nav_bar = { css:'ui-primary', };
			// UI MODAL
			opts.ui_modal = {
				isOpen: false,
				template:null,
			};
			// INIT STATE
			RC.trigger('UI_INIT_STATE',{ [opts.title]:opts });
		});
		// HANDLE COMPONENT EVENTS
		navBarMenuClick = function() { toggleNavMenu(); };
		navMenuClose = function() { toggleNavMenu() };
		//navMenuClick = function() { };
		//navBarSearchClick = function() { };
		//navBarHistoryClick = function() { };
		//navBarMessageClick = function() { };
		//closeModal: function() { };

		// TOGGLE NAV MENU
		toggleNavMenu = function() {
			opts.nav_menu.isOpen ? opts.nav_menu.isOpen = false : opts.nav_menu.isOpen = true;
			RC.trigger('UI_SET_STATE',{ [opts.title]:opts });
		}
		// STATE CHANGE
		RC.on('UI_STATE_CHANGED',function(newState) {
			if(newState[opts.title]) {
				self.setOpts(newState[opts.title]);
			}
		});
		// UPDATE
		this.on('update',function() {
			Object.keys(self.refs).forEach(function(REF) {
				self.refs[REF].setOpts(opts[REF]);
			});
		});
		// UNMOUNT
		this.on('unmount',function() {
			RC.off('UI_STATE_CHANGED');
		});

	</script>
</view-home>
