<view-home>
	<ui-modal ref="ui_modal" />
	<nav-menu ref="nav_menu" />
	<div class="scroll-away-bar { expand:isVisible,contract:!isVisible }">
		<nav-bar ref="nav_bar" />
	</div>
	<div data-is="scroller" ref="scroller" class="root-mount scroll-1 { expand:isVisible,contract:!isVisible }">
		<div class="pad-1-2">
			<div each="{ num in new Array(45) }">
				<h1>num</h1>
			</div>
		</div>
	</div>
	<script>

		var self = this;
		isVisible = true;

		this.on('before_mount',function() {
		});

		this.on('mount',function() {
			var CFG = {
				key: opts.title,
				nav_menu: {
					css:'ui-white fg-teal',
					cssActive:'ui-teal',
					cssHead:'ui-teal',
					isOpen: false,
					items:navMenuItems
				},
				nav_bar:{ css:'ui-primary' },
				nav_bar_icons:{
					css:'shadow-bar ui-primary',
					mdicon:'mdi mdi-dots-vertical',
					sideBarIsOpen:false,
					title:'View Templates'
				},
				side_bar:{
					css:'fg-primary',
					cssActive:'fg-accent'
				},
				ui_modal: {
					show:false
				}
			}

			this.refs.nav_bar.setOpts(CFG.nav_bar);
			RC.trigger('UI_SET_STATE',CFG);

		});

		RC.on(opts.title + ':changed',function(newState) {
			console.info("HOME STATE");
			console.dir(newState);
		});

		this.on('unmount',function() {
			RC.off(opts.title + ':changed');
		});

	</script>
	<style>
		.scroll-away-bar,
		.root-mount,
		.nav-bar { transition:.2s ease-in-out all; }
		.scroll-away-bar { overflow:hidden;}
		.scroll-away-bar.expand { height:3.5em; }
		.scroll-away-bar.contract { height:0;overflow:hidden; }
		.scroll-away-bar.expand .nav-bar { margin-top:0; }
		.scroll-away-bar.contract .nav-bar { margin-top:-3.5em; }
		.root-mount.expand { height:calc(100vh - 3.5em); }
		.root-mount.contract { height:100vh; }
		.title-bar-spacer { height:3.5em; }
		.side-bar { flex:0; }
		.side-bar.expanded { flex:0 0 3.5em; }
		.expanded .icon-bar {
			position:fixed;
			height:calc(100vh - 7em);
			overflow:auto;
		}
		.side-bar.contracted .icon-bar { display:none; }
		.container-flex-1280 {
			flex:1;
			margin-left:0;
			margin-right:0;
			min-height:100%;
			overflow-y:auto;
		}
		@media only screen and (min-width:992px) {
			.container-flex-1280 {
				flex:1;
				max-width:1280px;
				margin-left:auto;
				margin-right:auto;
			}
		}
	</style>
</view-home>
