<view-tabs>
	<ui-modal ref="ui_modal" />
	<nav-menu ref="nav_menu" />
<!--
	<div class="f-row ai-center nav-bar-search ui-primary" style="height:5em;">
		<div class="pad-dot-25"></div>
		<ui-icon mdicon="mdi mdi-arrow-left" />
		<div class="pad-dot-25"></div>
		<div class="f-one" style="margin-bottom:-.5em;">
			<ui-input label="" css="ui-white" placeholder="Search Customers" />
		</div>
		<div class="pad-dot-25"></div>
		<ui-icon mdicon="mdi mdi-close-circle" />
		<div class="pad-dot-25"></div>
	</div>
!-->
	<div class="f-row ai-center nav-bar-search ui-primary" style="height:3.5em;">
		<div class="left f-row ai-center">
			<div class="pad-dot-25"></div>
			<ui-icon mdicon="mdi mdi-arrow-left" />
			<div class="pad-dot-25"></div>
			<h3>Back</h3>
			<div class="pad-dot-5"></div>
		</div>

		<div class="mid f-row ai-center search-input ui-white rounded shadow">
			<div class="pad-dot-5"></div>
			<i class="mdi mdi-magnify fg-primary-lt"></i>
			<div class="pad-dot-25"></div>
			<input ref="input_search" onkeyup="{ doSearch }" class="f-one" placeholder="Search Customers" value="{ opts.searchString }" />
			<div class="pad-dot-25"></div>
			<i if="{ opts.searchString }" class="mdi mdi-close-circle fg-primary-lt" onclick="{ clearSearch }"></i>
			<div class="pad-dot-5"></div>
		</div>

		<div class="right f-row ai-center jc-end">
			<ui-icon label="Options" mdicon="mdi mdi-filter-variant" css="ui-primary" />
			<div class="pad-dot-25"></div>
		</div>

	</div>
	<div class="f-row ai-center ui-primary shadow" style="position:relative;">
		<div class="left"></div>
		<div class="mid">
			<nav-bar-tabs ref="nav_bar_tabs" />	
		</div>
		<div class="right"></div>
	</div>
	<div class="view-tabs scroll-2 container-flex-1280 ui-white shadow">
<!-- BEGIN CONTENT !-->
		<!--
		<ui-list items="{ uiListItems }" />
		!-->
		<div if="{ opts.activeTab == 'All Customers' }" class="pad-1-2">
			<h1>All Customers</h1>
		</div>
		<div if="{ opts.activeTab == 'Recent Activity' }" class="pad-1-2">
			<h1>Recent Activity</h1>
		</div>
		<div if="{ opts.activeTab == 'Recent Purchasers' }" class="pad-1-2">
			<h1>Recent Purchasers</h1>
		</div>
		<div if="{ opts.activeTab == 'Open Balance' }" class="pad-1-2">
			<h1>Open Balance</h1>
		</div>
		<div if="{ opts.activeTab == 'VIP Customers' }" class="pad-1-2">
			<h1>VIP Customers</h1>
		</div>
<!-- END CONTENT !-->
	</div>
	<style>
		.mid {
			flex:0 0 1024px;
		}
		.left, .right {
			flex:1;
		}
		.search-input input {
			background:none;
			border:none;
			font-size:1.25em;
			padding:.4em;
		}
		.search-input i {
			font-size:1.5em;
		}
	</style>
	<script>
		// MIXIN
		this.mixin(IO);
		this.mixin(VT);
		// SELF
		var self = this;
		// TITLE
		opts.title = 'View Tabs';
		// ACTIVE TAB
		opts.activeTab = 'All Customers';
		// MOUNT
		this.on('mount',function() {
			// SEARCH STRING
			opts.searchString = '';
			// CHECK STATE
			if(self.checkState(opts.title)) {
				console.info("MOUNT FROM STORAGE");
				VT.setState(opts);
			} else {
				console.info("MOUNT FROM SCRATCH");
				// OPTS
				opts = self.opts;
				// NAV BAR
				opts.nav_bar =  { css:'ui-primary' }
				// NAV BAR TABS
				opts.nav_bar_tabs =  {
					activeTab:opts.activeTab,
					css:'ui-primary',
					tabs: [
						{ label:'All Customers'},
						{ label:'Recent Activity'},
						{ label:'Recent Purchasers'},
						{ label:'Open Balance'},
						{ label:'VIP Customers'}
					]
				}
				// NAV MENU
				opts.nav_menu = {
					companyName:'Devosus, Inc',
					css:'ui-background fg-primary',
					cssActive:'ui-black-dot-1 fg-primary',
					cssHead:'ui-teal',
					cssLinks:'fg-primary-lt',
					isOpen: false,
					items:navMenuItems,
					route:'/view-tabs',
					userName:'Corey Holton'
				}
				// UI MODAL
				opts.ui_modal =  { isOpen: false }
				// SET STATE
				VT.setState(opts);
			}
			// SET focus
			self.refs.input_search.focus();
		});

		doSearch =  function(e) { VT.doSearch(e) }
		clearSearch =  function() { VT.clearSearch() }
		setState = function(opts) { VT.setState(opts) }
		modalShow = function() { VT.modalShow() }
		modalClose = function() { VT.modalClose() }
		navBarTabsClick = function(e) { VT.navBarTabsClick(e) }
		navBarHomeMenuToggle = function() { VT.navBarHomeMenuToggle() }
		navBarMenuClick = function() { VT.toggleNavMenu() }
		navMenuClose = function() { VT.toggleNavMenu() },
		toggleNavMenu = function() { VT.toggleNavMenu() }




		// STATE CHANGE
		RC.on('UI_STATE_CHANGED',function(newState) {
			if(newState[opts.title]) {
/*
				if(opts.searchString.length) {
					self.refs.input_search.value = opts.searchString;
				}
*/
				self.setOpts(newState[opts.title]);
				if(opts.ui_modal && opts.ui_modal.isOpen) {
					riot.compile(function() {
						riot.mount('#modalMount','ui-test');
					});
				}
			}
		});
		// UPDATE
		this.on('update',function() { self.updateRefs(); });
		// UNMOUNT
		this.on('unmount',function() {
			RC.off('UI_STATE_CHANGED');
		});
	</script>
</view-tabs>
