<view-card>
	<ui-card ref="ui_card" />
	<script>
		// MIXIN
		this.mixin(IO);
		// SELF
		var self = this;
		// MOUNT
		this.on('mount',function() {
			// VARS
			var primary = 'ui-teal',
					primary_fg = 'fg-teal',
					primary_dk = 'ui-teal-dk';
			// OPTS
			opts = this.opts;
			// TITLE
			opts.title = 'View Card';
			// UI CARD
			opts.ui_card = {
				cssButton: primary,
				cssContainer: 'ui-white',
				cssContent: primary_dk,
				cssInput: primary,
				cssHeader: primary,
				cssLink: primary_fg,
				title:'ui-card',
				subtitle:'ui/ui-card.html'
			}
			// INIT STATE
			RC.trigger('UI_INIT_STATE',{ [opts.title]:opts });

		});
		// STATE CHANGE
		RC.on('UI_STATE_CHANGED',function(newState) {
			if(newState[opts.title]) {
				self.setOpts(newState[opts.title]);
			}
		});
		// UDPATE
		this.on('update',function() {
			Object.keys(self.refs).forEach(function(REF) {
				self.refs[REF].setOpts(opts[REF]);
			});
		});
		// UNMOUNT
		this.on('unmount',function() {
			RC.off('UI_STATE_CHANGED');
		});

	</script>
</view-card>
<ui-card>
	<div class="content f-col ai-center jc-center { opts.cssContent }">
		<div class="container-centered ui-white">
			<div class="container-head { opts.cssHeader }">
				<div class="container-title">
					<span>{ opts.title }</span>
				</div>
				<div class="pad-dot-25"></div>
				<div class="container-subtitle">
					<span>{ opts.subtitle }</span>
				</div>
			</div>
			<div class="container-body { opts.cssContainer }">
				<div class="pad-2">
					<ui-input ref="email" name="email" label="Enter your email" css="{ opts.cssInput }" auto="true" />
					<div class="pad-dot-25"></div>
					<ui-input ref="password" name="password" label="Enter your password" type="password" css="{ opts.cssInput }" />
					<div class="pad-dot-5"></div>
					<div class="f-row ai-center jc-between">
						<ui-button ref="help_button" label="Help" css="{ opts.cssLink }" />
						<ui-button ref="login_button" label="Login" onclick="route('/view-home')" css="{ opts.cssButton }" />
					</div>
				</div>
			</div>
			<div class="container-foot f-row ai-center jc-center">
			</div>
		</div>
	</div>
	<style>
		.content { height:100vh;overflow:hidden; }
		.container-centered {
			min-width:25em;
			border-radius:.15em;
			box-shadow:0px 2px 8px 2px rgba(0,0,0,0.15);
			overflow:hidden;
		}
		.container-head {
			/*
			border-top-left-radius:.15em;
			border-top-right-radius:.15em;
			*/
		}
		.container-title > span { font-size:1.8em; }
		.container-subtitle > span { font-size:1.2em;opacity:0.65; }
		.container-head { padding:2em; }
		.container-foot {
			min-height:5em;
			/*
			border-bottom-left-radius:.15em;
			border-bottom-right-radius:.15em;
			*/
		}
	</style>
	<script>
		this.mixin(IO);
	</script>
</ui-card>
