<view-detail>
	<ui-modal ref="ui_modal" />
	<nav-menu ref="nav_menu" />
	<div class="scroll-away-bar { expand:isVisible,contract:!isVisible }">
		<nav-bar ref="nav_bar" />
	</div>
	<div ref="scroller" class="root-mount scroll-1 { expand:isVisible,contract:!isVisible }">
		<nav-bar-detail ref="nav_bar_detail" />
		<div class="title-bar-spacer"></div>
		<div class="mount-body">
		<div id="moduleNavMount" class="container-flex-1280 ui-white shadow">
<!-- BEGIN CONTENT !-->
			<div class="pad-1-2">
				<h1>View Detail</h1>
				/src/view/view-detail.html ( { selected } )
				<ui-select ref="ui_select" onchange="{ uiSelectChange }" />
				<div each="{num in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]}" no-reorder>
					<div class="pad-dot-5"></div>
					<h1>{ num }</h1>
				</div>
			</div>
<!-- END CONTENT !-->
		</div>
	</div>
	<script>
		selected = 'Option One';
		// MIXIN
		this.mixin(IO);
		// SELF
		var self = this;
		// VARIABLES
		isVisible = true;
		// MOUNT
		this.on('mount',function() {
			// OPTS
			opts = this.opts;
			// TITLE
			opts.title = 'View Detail';
				
			// UI MODAL
			opts.ui_modal = { isOpen: false };
			// UI SELECT
			opts.ui_select = {
				css: 'ui-blue-lt',
				label: 'UI SELECT',
				selection: 'Option One',
				options: [
					{ label:'Option One' },
					{ label:'Option Two' },
					{ label:'Option Three' }
				]
			}
			// NAV MENU
			opts.nav_menu = {
				companyName:'Devosus, Inc',
				css:'ui-background fg-primary',
				cssActive:'ui-black-dot-1 fg-primary',
				cssHead:'ui-teal',
				cssLinks:'fg-primary-lt',
				isOpen: false,
				items:navMenuItems,
				route:'/view-detail',
				userName:'Corey Holton'
			}
			// NAV BAR
			opts.nav_bar = { css:'ui-primary' };
			// NAV BAR DETAIL
			opts.nav_bar_detail = {
				category:'category',
				css:'ui-primary shadow',
				mdicon:'mdi mdi-arrow-left',
				title:'View Detail',
				isOpen:false,
				icons: [
					{ ref:'ui_icon_print', mdicon:'mdi mdi-printer', onclick:printClick },
					{ ref:'ui_icon_clone', mdicon:'mdi mdi-content-duplicate', onclick:printClick },
					{ ref:'ui_icon_help', mdicon:'mdi mdi-help-circle-outline', onclick:printClick }
				]
			}
			// INIT STATE
			RC.trigger('UI_INIT_STATE',{ [opts.title]:opts });
			scrollAway();
		});
		// SET STATE
		setState = function() {
			RC.trigger('UI_SET_STATE',{ [opts.title]:opts });
		}
		// UI SELECT
		uiSelectChange = function(e) {
			if(e) {
				selected = e.target.selectedOptions[0].label;
				opts.ui_select.selection = e.target.selectedOptions[0].label;
				setState();
			}
		}
		// MODAL CLOSE
		modalClose = function() {
			opts.ui_modal = { isOpen: false };
			setState();
		}
		// NAV BAR HOME MENU TOGGLE
		navBarHomeMenuToggle = function() {
			opts.isOpen ? opts.isOpen = false : opts.isOpen = true;
			opts.nav_bar_home.isOpen = opts.isOpen;
			setState();
		};
		// NAV BAR HOME OPTIONS CLICK
		navBarHomeOptionsClick = function() {
			opts.ui_modal = { isOpen: true };
			setState();
		}
		// NAV BAR MENU CLICK
		navBarMenuClick = function() { toggleNavMenu(); };
		// NAV MENU CLOSE
		navMenuClose = function() { toggleNavMenu() };
		// PRINT CLICK
		printClick = function() { console.log("PRINT CLICK!"); }
		// SIDE BAR ICON CLICK
		sideBarIconClick = function(e) { 
			if(e) { route(e.item.route); }
	 }
		// TOGGLE NAV MENU
		toggleNavMenu = function() {
			opts.nav_menu.isOpen ? opts.nav_menu.isOpen = false : opts.nav_menu.isOpen = true;
			setState();
		}
		// STATE CHANGE
		RC.on('UI_STATE_CHANGED',function(newState) {
			if(newState[opts.title]) {
				self.setOpts(newState[opts.title]);
				if(opts.ui_modal && opts.ui_modal.isOpen) {
					riot.compile(function() {
						riot.mount('#modalMount','ui-test');
					});
				}
			}
		});
		// UPDATE
		this.on('update',function() {
			Object.keys(self.refs).forEach(function(REF) {
				// UPDATE SELF REF
				if(self.refs[REF].hasOwnProperty('setOpts')) {
					self.refs[REF].setOpts(opts[REF]);
				}
				// IF CHILD REFS
				if(self.refs[REF].refs) {
					// LOOP CHILD REFS
					Object.keys(self.refs[REF].refs).forEach(function(CHILD_REF) {
						// UPDATE CHILD REF
						if(self.refs[REF].refs[CHILD_REF].hasOwnProperty('setOpts')) {
							self.refs[REF].refs[CHILD_REF].setOpts(opts[CHILD_REF]);
						}
					});
				}
			});
		});
		// UNMOUNT
		this.on('unmount',function() {
			RC.off('UI_STATE_CHANGED');
		});
		scrollAway = function() {
			// --------------------------------------
			// NAV-BAR SCROLL-AWAY
			// --------------------------------------
			var SCROLLER = self.refs.scroller,
					isScrolling = -1,
					lastPosition = 0;
			SCROLLER.onscroll = function() {
				if(isScrolling != -1) {
					clearTimeout(isScrolling);
				}
				isScrolling = window.setTimeout("scrollStop()",200);
			}
			scrollStop = function() {
				var currentPosition = SCROLLER.scrollTop;
				if(currentPosition < lastPosition) {
					var DIFF = lastPosition - currentPosition;
					if(DIFF > 56 && isVisible == false) {
						isVisible = true;
						lastPosition = currentPosition;
						self.update();
					}
				} else if(currentPosition > lastPosition) {
					var DIFF = currentPosition - lastPosition;
					if(DIFF > 56 && isVisible == true) {
						isVisible = false;
						lastPosition = currentPosition;
						self.update();
					}
				} else if(currentPosition == lastPosition) {
					lastPosition = currentPosition;
				}
			}
		}
	</script>
	<style>
		.scroll-away-bar,
		.root-mount,
		.nav-bar { transition:.2s ease-in-out all; }
		.scroll-away-bar { overflow:hidden;}
		.scroll-away-bar.expand { height:3.5em; }
		.scroll-away-bar.contract { height:0;overflow:hidden; }
		.scroll-away-bar.expand .nav-bar { margin-top:0; }
		.scroll-away-bar.contract .nav-bar { margin-top:-3.5em; }
		.root-mount.expand { height:calc(100vh - 3.5em); }
		.root-mount.contract { height:100vh; }
		.title-bar-spacer { height:3.5em; }
		.mount-body { min-height:calc(100vh - 7em); }
	</style>
</view-detail>
