/* MAIN COLOR THEME */
.ui-link { color:dodgerblue; }
/* PRIMARY */
.ui-primary,
button.ui-primary.ui-btn,
button.ui-primary.ui-btn:hover,
.ui-primary.ui-btn-icon,
.ui-primary.ui-btn-icon:hover,
.ui-primary.input,
.ui-primary.ui-select,
.ui-primary.ui-select select
{ background-color:#6a6b6c;color:white; }
/* PRIMARY LIGHT */
.ui-primary-lt,
button.ui-primary-lt.ui-btn,
button.ui-primary-lt.ui-btn:hover,
.ui-primary-lt.ui-btn-icon,
.ui-primary-lt.ui-btn-icon:hover,
.ui-primary-lt.ui-input,
.ui-primary-lt.ui-select,
.ui-primary-lt.ui-select select
{ background:#8a8b8c;color:white; }
/* SECONDARY */
.ui-secondary,
button.ui-secondary.ui-btn,
button.ui-secondary.ui-btn:hover,
.ui-disabled.ui-btn-icon,
.ui-disabled.ui-btn-icon:hover,
.ui-secondary.ui-input,
.ui-secondary.ui-select,
.ui-secondary.ui-select select
{ background:#dddddd;color:#444444; }
/* SECONDARY LIGHT */
.ui-secondary-lt,
button.ui-secondary-lt.ui-btn,
button.ui-secondary-lt.ui-btn:hover,
.ui-secondary-lt.ui-btn-icon,
.ui-secondary-lt.ui-btn-icon:hover,
.ui-secondary-lt.ui-input,
.ui-secondary-lt.ui-select,
.ui-secondary-lt.ui-select select
{ background:#eeeeee;color:#444444; }
/* DISABLED */
.ui-disabled,
button.ui-disabled.ui-btn,
button.ui-disabled.ui-btn:hover,
.ui-disabled.ui-btn-icon,
.ui-disabled.ui-btn-icon:hover,
.ui-disabled.ui-input,
.ui-disabled.ui-select,
.ui-disabled.ui-select select
{ opacity:0.5;cursor:default;box-shadow:none; }
/* BLUE */
.ui-blue,
button.ui-blue.ui-btn,
button.ui-blue.ui-btn:hover,
.ui-blue.ui-btn-icon,
.ui-blue.ui-btn-icon:hover,
.ui-blue.ui-input,
.ui-blue.ui-select,
.ui-blue.ui-select select
{ background:#0277bd;color:#ffffff; }
/* GRAY */
.ui-gray,
button.ui-gray.ui-btn,
button.ui-gray.ui-btn:hover,
.ui-gray.ui-btn-icon,
.ui-gray.ui-btn-icon:hover,
.ui-gray.ui-input,
.ui-gray.ui-select,
.ui-gray.ui-select select
{ background:#aaaaaa;color:#ffffff; }
/* GREEN */
.ui-green,
button.ui-green.ui-btn,
button.ui-green.ui-btn:hover,
.ui-green.ui-btn-icon,
.ui-green.ui-btn-icon:hover,
.ui-green.ui-input,
.ui-green.ui-select,
.ui-green.ui-select select
{ background:#689f38;color:#ffffff; }
/* ORANGE */
.ui-orange,
button.ui-orange.ui-btn,
button.ui-orange.ui-btn:hover,
.ui-orange.ui-btn-icon,
.ui-orange.ui-btn-icon:hover,
.ui-orange.ui-input,
.ui-orange.ui-select,
.ui-orange.ui-select select
{ background:rgba(240,148,25,1);color:#ffffff; }
/* RED */
.ui-red,
button.ui-red.ui-btn,
button.ui-red.ui-btn:hover,
.ui-red.ui-btn-icon,
.ui-red.ui-btn-icon:hover,
.ui-red.ui-input,
.ui-red.ui-select,
.ui-red.ui-select select
{ background:#c62828;color:#ffffff; }
/* TEAL */
.ui-teal,
.ui-teal.ui-btn,
button.ui-teal.ui-btn,
button.ui-teal.ui-btn:hover,
.ui-teal.ui-btn-icon,
.ui-teal.ui-btn-icon:hover,
.ui-teal.ui-input,
.ui-teal.ui-select,
.ui-teal.ui-select select
{ background:#40aca1;color:#ffffff; }
