<tbd-template>
	<nav-bar ref="nav_bar" />
	<div class="f-row f-wrap">
		<div class="pad-dot-5">
			<ui-button ref="ui_button_tbd" onclick="{buttonClick1}"/>
			<ui-button ref="ui_button_tbd_2" onclick="{buttonClick2}"/>
			<ui-button ref="ag_button" onclick="{getSelectedRows}" />
		</div>
	</div>
	<div class="fg-primary pad-dot-5 f-row">
		<div style="position: absolute; top: 0; left: 0">
			<button onclick="{onMedalsFirst}">Medals First</button>
			<button onclick="{onMedalsLast}">Medals Last</button>
			<button onclick="{onCountryFirst}">Country First</button>
			<button onclick="{onSwapFirstTwo}">Swap First Two</button>
			<button onclick="{onPrintColumns}">Print Columns</button>
		</div>
		<div ref="ag_grid" id="myGrid" style="height: 600px;width:1000px;" class="ag-theme-balham"></div>
	</div>
	<script>
		import CTRL from 'client/app/tbd/scripts/tbd-ctrl.js'
		this.mixin(IO.default, CTRL);
	</script>
</tbd-template>
