<tbd-template>
	<nav-bar ref="nav_bar" />
	<div class="f-row f-wrap">
		<div class="pad-dot-5">
			<ui-button ref="ui_button_tbd" onclick="{buttonClick1}"/>
			<ui-button ref="ui_button_tbd_2" onclick="{buttonClick2}"/>
			<ui-button ref="ag_button" onclick="{getSelectedRows}" />
		</div>
	</div>
	<div class="fg-secondary pad-dot-5 f-row">
		<div>
			<ui-button onclick="{onMedalsFirst}" label="Medals First" />
			<ui-button onclick="{onMedalsLast}" label="Medals Last" />
			<ui-button onclick="{onCountryFirst}" label="Country First" />
			<ui-button onclick="{onSwapFirstTwo}" label="Swap First Two" />
			<ui-button onclick="{onPrintColumns}" label="Print Columns" />
		</div>
	</div>
	<div class="fg-primary pad-dot-5 f-row">
		
		<div ref="ag_grid" id="myGrid" style="height: 600px;width:1000px;" class="ag-theme-balham"></div>
	</div>
	<script>
		import CTRL from 'client/app/tbd/scripts/tbd-ctrl.js'
		this.mixin(IO.default, CTRL);
	</script>
</tbd-template>
